---
import { Image } from 'astro:assets';
import { Badge } from './ui/badge';

interface Props {
  title: string;
  date: string;
  description: string;
  slug: string; 
  chapter1: string[];
  mediaUrl?: string | null;
}

const { title, date, description, slug, mediaUrl, chapter1 } = Astro.props;

const formattedDate = new Date(date).toLocaleDateString('fr-FR', {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});
---

<article class="h-full">
  <a 
    href={`/blog/${slug}`} 
    class="grid md:grid-cols-2 border bg-white hover:bg-gray-50 rounded-lg transition-colors h-full"
  >
    <div class="relative h-full min-h-[250px] md:min-h-full">
      {mediaUrl && (
        <Image 
          src={mediaUrl}
          alt={title || "Blog post image"}
          width={400}
          height={300}
          class="rounded-t-lg md:rounded-l-lg md:rounded-tr-none object-cover absolute inset-0 w-full h-full"
        />
      )}
    </div>
    
    <div class="flex flex-col justify-between gap-4 p-6">
      <div class="space-y-4">
        <div class="space-y-2">
          <h2 class="text-2xl font-semibold leading-tight overflow-hidden text-ellipsis line-clamp-2">{title}</h2>
          <time class="text-sm text-gray-600 block">{formattedDate}</time>
        </div>
        <p class="text-md text-gray-500 overflow-hidden text-ellipsis line-clamp-3">{description}</p>
      </div>
      
      <div class="pt-2 flex gap-2">
        
          {chapter1.map((chapter) =>  <Badge className="px-3 py-1 text-sm bg-gray-200 text-gray-700 font-normal rounded-full hover:bg-inerit shadow-none hover:shadow-none">
            {chapter}
          </Badge>)}
    
       
      </div>
    </div>
  </a>
</article>