---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import '@/styles/global.css';
import ViewTransitions from "astro/components/ViewTransitions.astro";

const { 
  title,
  description = "Description par défaut de votre site",
  image = "/default-og-image.jpg",
  articleDate,
  author = "Nom de l'auteur",
  canonicalURL = Astro.url.href,
} = Astro.props;

---

<html lang="fr" class="scroll-smooth min-w-[320px]">
  <head>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TM94CJ5');
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/ico" href="/image/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    
    <!-- Meta SEO essentielles -->
    <meta name="description" content={description}>
    <meta name="robots" content="index, follow">
    <link rel="canonical" href={canonicalURL}>
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="article">
    <meta property="og:title" content={title}>
    <meta property="og:description" content={description}>
    <meta property="og:image" content={image}>
    <meta property="og:url" content={canonicalURL}>
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content={title}>
    <meta name="twitter:description" content={description}>
    <meta name="twitter:image" content={image}>

    <!-- Schema.org pour Google -->
    <script type="application/ld+json" set:html={JSON.stringify({
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": title,
      "description": description,
      "image": image,
      "author": {
        "@type": "Person",
        "name": author
      },
      "datePublished": articleDate?.toISOString(),
      "dateModified": articleDate?.toISOString(),
      "url": canonicalURL
    })}>
    </script>
  </head>
  <body class="min-h-screen w-full">
    <Header />
    <main class="mx-auto sm:px-4 py-8 pt-10">
      <article itemscope itemtype="https://schema.org/Article">
        <slot />
      </article>
    </main>
    <ViewTransitions />
  </body>
  <Footer />
</html>

